<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    		<!-- PostgreSQL -->
    		<!-- 
        -->

		<property name="hibernate.default_schema">kursy_rat</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://127.0.0.1:5432/kursy_rat</property>
        <property name="hibernate.connection.username">kursy_usr</property>
        <property name="hibernate.connection.password">kursydb</property>

        
        <property name="hibernate.connection.characterEncoding">utf8</property>
        
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        
<!--
        <property name="hibernate.dialect">pl.econsulting.eis.dao.CustomPostgresDialect</property>
-->
        

<!--
        <property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
    	<property name="hibernate.cache.use_query_cache">true</property>
    	<property name="hibernate.cache.use_second_level_cache">true</property>
 		<property name="hibernate.cache.provider_configuration_file_resource_path">ehcache2.xml</property>


		<property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>

-->

        


		<property name="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>
        <property name="hibernate.c3p0.min_size">2</property>
        <property name="hibernate.c3p0.max_size">4</property>
        <property name="hibernate.c3p0.timeout">1000</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">500</property>
  
<!-- 

        <property name="hibernate.c3p0.debugUnreturnedConnectionStackTraces">true</property>
        <property name="hibernate.c3p0.unreturnedConnectionTimeout">40</property>
-->

<!-- 
-->
        
 
        <property name="show_sql">false</property>
        <property name="format_sql">true</property>
        <!-- 
        <property name="hbm2ddl.auto">validate</property>
        
        
        
         -->

        <mapping class="pl.wd.kursy.data.User" />
         
         
         
        
        
        
    </session-factory>
</hibernate-configuration>

